/* Nav bar */

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #DCDCDC;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}


/*--------------------------------------------map.css*/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
  min-height: 360px;

}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}


/* page css*/

.main-section-column {
  background-color: #D5DBE5;
}

.footer {
  background-color: #E5EDF9;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* check box row*/

.checkboxes {
  padding-bottom: 25px;
  padding-top: 25px;

}


/* search bar row*/

.search-bar {
  padding-bottom: 10px;
  padding-top: 10px;


}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}